footer{
    clear: both;
    background: #393c40;
    border-top: #2b2f32 solid 10px;
    text-align: center;
    margin: auto;
}
footer p{
    color: #f5f5f5;
    font-size: 16px;
    padding: 10px 0;
}
#footer{
    width: 90%;
    text-align: center;
    margin: auto;
}
footer img{
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}