header{
    margin: auto auto 0 auto;
    padding: 10px 10% 0;
    background: #393c40;
    border-bottom: #2b2f32 solid 10px;
    position: fixed;
    width: 100%;
    top:0;
    transition: all 0.5s;
    z-index: 100;
}
header #Logo{
    height: 35px;
    margin-top: 5px;
    transition: all 0.5s;
}
header ul{
    margin: 0;
    margin-top: 10px;
    padding: 0;
    transition: all 0.5s;
}
header li{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin: 10px 25px 0 0;
    color: #f5f5f5;
}
header li img{
    height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 2px;
}
a{
    color: #f5f5f5;
    text-decoration: none;
}
@media screen and (max-width: 768px){
    header ul{
        margin-top: 15px;
        text-align: center;
        transition: all 0.5s;
    }
    header li{
        font-size: 0;
        margin: 10px 0 0 0;
    }
    header li img{
        height: 30px;
        margin: 0 40px 10px;
        transition: all 0.5s;
    }
    header #Logo{
        height: 30px;
        margin-top: 5px;
        transition: all 0.5s;
    }
}
