*{
    margin: 0;
    padding: 0;
}
body{
    color: #6c757d;
    background: inherit;
}
main{
    margin-top: 99px;
    transition: all 0.5s;
}
#left{
    float: left;
    display: flex;
    margin-right: 10px;
    padding: 15px 20px 5px 0;
    background: #1a1d20;
    width: auto;
}
#left li{
    list-style: none;
    color: #00ccff;
    line-height: 2rem;
}
#index1{
    text-align: center;
    background: #0f9bb8;
}
#index1 img{
    width: 300px;
    margin: 10px 50px 10px 50px;
}
#index1 img#Arrow{
    width: 32px;
    margin: auto;
}
#index1 h1{
    margin-top: 230px;
    color:white;
}
#index1 p{
    color:white;
    font-size: 20px;
}
#index2{
    text-align: center;
    width: 80%;
    margin: auto;
}
#index2 p{
    margin-top:100px;
    margin-bottom: 100px;
    font-size: 20px;
}
#index2 img{
    width: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#index_links{
    text-align: center;
}
#index_links img{
    width: 80px;
    margin-bottom: 10px;
}
#index_links img#link1logo{
    width: 90px;
}
#index_links a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}
#index_links div{
    padding: 22px 22px 13px 22px;
    transition: background 0.3s;
}
#index_links div:hover{
    background: #212529;
    transition: all 0.3s;
}
#link1{
    background: #00ab32;
}
#link2{
    background: #00ccff;
}
#link3{
    background: #0077cc;
}
#index3{
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    color: #f5f5f5;
    background-color: #212529;
}
#index3 h1{
    padding-top: 6px;
    font-size: 25px;
}
@media screen and (max-width: 768px){
    #left{
        display: block;
        float: none;
        width: 100%;
    }
    main{
        margin-top:120px;
    }
    #index1 h1{
        margin-top: 50px;
        color:white;
    }
    #index_links{
        text-align: left;
    }
    #index_links img{
        margin: auto 30px;
    }
    #index_links img#link1logo{
        margin: auto 19px auto 30px;
    }
    #index_links br{
        display: none;
    }
    #index_links a{
        font-size: 30px;
    }
    #index_links div{
        padding-top: 15px;
    }
    #index2 img{
        margin-top: 30px;
        margin-bottom: 60px;
        width: 300px;
    }
    #index2 p{
        margin-bottom: 0;
    }
}