*{
    margin: 0;
    padding: 0;
}
body{
    color: #6c757d;
    background: inherit;
}
main{
    margin-top: 99px;
    transition: all 0.5s;
}
#left{
    float: left;
    display: flex;
    margin-right: 10px;
    padding: 15px 20px 5px 0px;
    background: #1a1d20;
    width: auto;
}
#left li{
    list-style: none;
    color: #00ccff;
    line-height: 2rem;
}
@media screen and (max-width: 768px){
    #left{
        display: block;
        float: none;
        width: 100%;
    }
    main{
        margin-top:120px;

    }
}